.nav {
    grid-area: nav;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.25);
    text-align: left;
}

.item a {
    color: #000;
    text-decoration-line: none;
}

.item a.activeLink{
    color: #d35869;
}